services:
  node-openssl-rest:
    #conatiner-name: node-openssl-rest
    image: ghcr.io/lspiehler/node-openssl-rest:latest
    restart: unless-stopped
    stdin_open: true
    tty: true
    env_file:
      - /var/node/node-openssl-rest/.env
    networks:
      - certificates
    ports:
      - 8443:8443
      - 8081:8081
    volumes:
      - /var/docker/node-openssl-rest/certs:/var/node/node-openssl-rest/certs
      - /cas:/var/node/node-openssl-rest/ca
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  openssl-pq-server:
    image: ghcr.io/lspiehler/node-openssl-rest:latest
    restart: unless-stopped
    stdin_open: true
    tty: true
    networks:
      - certificates
    ports:
      - 4433:4433
    volumes:
      - /etc/letsencrypt/live/certificatetools.com:/etc/letsencrypt/live/certificatetools.com
      - /etc/letsencrypt/archive/certificatetools.com:/etc/letsencrypt/archive/certificatetools.com
    entrypoint: openssl s_server -cert /etc/letsencrypt/live/certificatetools.com/fullchain.pem -key /etc/letsencrypt/live/certificatetools.com/privkey.pem -groups X25519MLKEM768 -ignore_unexpected_eof -www -tls1_3 -accept 0.0.0.0:4433
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  node-sscep:
    #conatiner-name: node-sscep
    image: lspiehler/node-sscep:latest
    restart: unless-stopped
    stdin_open: true
    tty: true
    networks:
      - certificates
    ports:
      - 3000:3000
    volumes:
      - /var/docker/node-openssl-rest/certs:/var/node/node-openssl-rest/certs
      - /cas:/var/node/node-openssl-rest/ca
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
networks:
  certificates:
    ipam:
      driver: default
      config:
      - subnet: 192.168.100.0/24
        ip_range: 192.168.100.0/25
        gateway: 192.168.100.1
