<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="description" content="Check the OCSP status of your X509 certificate using the domain name or by pasting the contents of your Base64 encoded certificate.">
		<meta name="keywords" content="ocsp checker, ocsp status, ocsp validator, ocsp tester, check ocsp, ocsp, online certificate status protocol">
		<meta name="author" content="Lyas Spiehler">
		<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<meta property="og:title" content="CertificateTools.com - OCSP Checker">
		<meta property="og:description" content="Check the OCSP status of your X509 certificate using the domain name or by pasting the contents of your Base64 encoded certificate.">
		<meta property="og:image" content="https://certificatetools.com/images/og_certificatetools.png">
		<meta property="og:url" content="https://certificatetools.com">
		<meta property="og:site_name" content="CertificateTools.com">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<title>OCSP Checker</title>
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.min.css">
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/loader.css" />
		<style>
			input {
				border: 0;
				outline: 0;
				background: transparent;
				border-bottom: 2px solid #d4d3d3;
				font-size: 30px;
				/*width: 90% !important;*/
				/*margin: auto;*/
			}
			input #id, #hostname {
				width: 90% !important;
			}
			textarea {
				width: 90% !important;
				white-space: pre;
				word-wrap: normal;
				overflow-wrap: normal;
				overflow-x: auto;
				font-family: Courier, monospace;
				display: none;
			}
			div.ad {
				text-align: center;
			}
			div.options {
				text-align: center;
			}
			body {
				padding-top: 70px;
			}
			div.container {
				width: 100%;
				text-align: center;
			}
			div #loading {
				display: none;
			}
			h1 {
				text-align: center;
			}
		</style>
		<script>
				var hosted = {{hosted}};
				var calist;	
                </script>
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75343349-1"></script>
                <script>
                        if(hosted) {
                                window.dataLayer = window.dataLayer || [];
                                function gtag(){dataLayer.push(arguments);}
                                gtag('js', new Date());

                                gtag('config', 'UA-75343349-1');
                        }
                </script>
		<script>
			function getCAs(callback) {
				var request = new XMLHttpRequest();
				request.open('GET', 'api/openssl/getCAs', true);
				request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
				
				request.onload = function() {
					if (request.status >= 200 && request.status < 400) {
						// Success!
						var resp = JSON.parse(request.responseText);
						if(resp.reserved) {
							callback(resp, resp);
						} else {
							callback(false, resp);
						}
						return;
						//var key = document.getElementById('key');
						//key.innerText = resp.command + '\r\n\r\n' + resp.key;
						//var csroptions = getCSRParams();
						//generateCSR(resp.key, csroptions);
					} else {
						// We reached our target server, but it returned an error
						callback(resp, false);
						return;
					}
				};

				request.onerror = function() {
					callback(true, false);
					return;
					// There was a connection error of some sort
				};

				request.send();
			}
			
			function openSSLRESTAPI(api, data, callback) {
				var request = new XMLHttpRequest();
				request.open('POST', 'api/openssl/' + api, true);
				request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
				
				request.onload = function() {
					if (request.status >= 200 && request.status < 400) {
						// Success!
						var resp = JSON.parse(request.responseText);
						if(resp.error) {
							//console.log(resp);
							callback(resp.error, resp);
						} else {
							callback(false, resp);
						}
						return;
						//var key = document.getElementById('key');
						//key.innerText = resp.command + '\r\n\r\n' + resp.key;
						//var csroptions = getCSRParams();
						//generateCSR(resp.key, csroptions);
					} else {
						// We reached our target server, but it returned an error
						callback(resp, false);
						return;
					}
				};

				request.onerror = function(err) {
					callback(err, false);
					//console.log(err);
					return;
					// There was a connection error of some sort
				};

				request.send(JSON.stringify(data));
			}
			function listCAs() {
				getCAs(function(err, cas) {
					//alert(cas.hash);
					calist = cas;
					var caselect = document.getElementById('caselect');
					for(var i = 0; i <= cas.cas.length - 1; i++) {
						var option = document.createElement('option');
						option.value = cas.cas[i].name;
						option.innerText = cas.cas[i].name;
						caselect.add(option);
					}
				});
			}
			function populateCADownloads() {
				var caselect = document.getElementById('caselect');
				var crldownload = document.getElementById('crldownload');
				var cadownload = document.getElementById('cadownload');
				var selected = caselect.options[caselect.selectedIndex].value;
				if(selected==false) {
					crldownload.style.display = 'none';
					cadownload.style.display = 'none';
				} else {
					crldownload.style.display = 'inline';
					cadownload.style.display = 'inline';
					if(calist.hash) {
						var crlurl = 'http://' + calist.publichttp + '/public/crl/' + calist.hash + selected.replace(/ /g, "_") + '.crl';
						var caurl = 'http://' + calist.publichttp + '/public/issuer/' + calist.hash + selected.replace(/ /g, "_") + '.crt';
					} else {
						var crlurl = 'http://' + calist.publichttp + '/public/crl/' + selected.replace(/ /g, "_") + '.crl';
						var caurl = 'http://' + calist.publichttp + '/public/issuer/' + selected.replace(/ /g, "_") + '.crt';
					}
					crldownload.href = crlurl;
					cadownload.href = caurl;
				}
			}
			function loadCertsTable() {
				populateCADownloads();
				var caselect = document.getElementById('caselect');
				var ca = caselect.options[caselect.selectedIndex].value;
				//console.log(ca);
				var data = {
					ca: ca
				}
				openSSLRESTAPI('showIssuedCerts', data, function(err, data) {
					//console.log(data.issuedcerts);
					var table = document.getElementById('certstable');
					if(table) {
					
					} else {
						table = document.createElement('table');
						table.border = '1';
						table.id = 'certstable';
						table.className = 'table';
						document.body.appendChild(table);
					}
					table.innerHTML = '';
					
					if(data.issuedcerts.length >= 1) {
						var header = table.createTHead();
						var row = header.insertRow(0);
						var cell = document.createElement('th');
						row.appendChild(cell);
						Object.keys(data.issuedcerts[0]).forEach(function(key) { 
							if(key=='ca') {
							
							} else {
								var cell = document.createElement('th');
								cell.innerHTML = key;
								row.appendChild(cell);							
							}
						});
					}
					
					for(var i = 0; i <= data.issuedcerts.length - 1; i++) {
						var row = table.insertRow(table.rows.length);
						var cell = row.insertCell(0);
						var input = document.createElement('input');
						input.type = 'checkbox';
						input.id = data.issuedcerts[i].serial;
						input.className = 'certcheckbox';
						if(data.issuedcerts[i].validity=="R") {
							input.disabled = true;
						}
						cell.appendChild(input);
						Object.keys(data.issuedcerts[i]).forEach(function(key) {
							//console.log(data.issuedcerts[i][key]);
							//console.log(row.cells.length - 1);
							if(key=='serial') {
								var anchor = document.createElement('a');
								anchor.href = 'api/openssl/issuedCert/' + ca + '/' + data.issuedcerts[i][key] + '.crt';
								anchor.innerText = data.issuedcerts[i][key];
								var cell = row.insertCell(row.cells.length);
								cell.appendChild(anchor);
							} else if(key=='ca') {

							} else {
								var cell = row.insertCell(row.cells.length);
								cell.innerText = data.issuedcerts[i][key];
							}
						});
						//for(var j = 0; j <= data.issuedcerts[i].length - 1; j++) {
						//	console.log(row.cells.length - 1);
						//	var cell = row.insertCell(row.cells.length);
						//	cell.innerText = data.issuedcerts[i][j];
						//}
					}
				});
			}
			function revokeCerts() {
				var revoke = [];
				var certchecks = document.getElementsByClassName('certcheckbox');
				for(var i = 0; i <= certchecks.length - 1; i++) {
					if(certchecks[i].checked) {
						revoke.push(certchecks[i].id);
					}
				}
				if(revoke.length <= 0) {
					alert('Please select the certificates you\'d like to revoke.');
					return;
				}
				var confirm = window.confirm('Are you sure you want to revoke ' + revoke.length + ' certificate(s)?');
				if(confirm) {
					//console.log(revoke);
					var caselect = document.getElementById('caselect');
					var ca = caselect.options[caselect.selectedIndex].value;
					var data = {
						ca: ca,
						revoke: revoke
					}
					openSSLRESTAPI('revokeCerts', data, function(err, resp) {
						//alert('done');
						var certchecks = document.getElementsByClassName('certcheckbox');
						for(var i = 0; i <= certchecks.length - 1; i++) {
							if(certchecks[i].checked) {
								certchecks[i].checked = false;
								certchecks[i].disabled = true;
								certchecks[i].parentNode.nextSibling.innerText = 'R';
							}
						}
					});
				} else {
					//console.log(revoke);
				}
			}
		</script>
	</head>
	<body>
		{{{header}}}
		<select onchange="loadCertsTable()" id="caselect">
			<option value="false">Select a CA...</option>
		</select>
		<button type="button" onclick="revokeCerts()">Revoke Certs</button>
		<a id="cadownload" style="display:none;" href="/manage-certs">Download CA</a>&nbsp;
		&nbsp;<a id="crldownload" style="display:none;" href="/manage-certs">Download CRL</a>
	</body>
	<script>
		listCAs();
	</script>
</html>
