<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="description" content="Check your website to see if it is post quantum ready by testing post quantum cryptography TLS handshake algorithms">
		<meta name="keywords" content="post quantum cryptography, pqc, test pqc, x25519_kyber768, p256_kyber768, X25519Kyber768Draft00, X25519Kyber512Draft00, X25519Kyber768Draft00Old, P256Kyber768Draft00">
		<meta name="author" content="Lyas Spiehler">
		<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<meta property="og:title" content="CertificateTools.com - Test Post Quantum Readiness">
		<meta property="og:description" content="Check your website to see if it is post quantum ready by testing post quantum cryptography TLS handshake algorithms.">
		<meta property="og:image" content="https://certificatetools.com/images/og_certificatetools.png">
		<meta property="og:url" content="https://certificatetools.com">
		<meta property="og:site_name" content="CertificateTools.com">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<title>Test PQC Readiness</title>
		<script type="text/javascript" src="js/jquery/jquery.min.js"></script>
		<link rel="stylesheet" href="js/jquery-ui/themes/base/jquery-ui.min.css">
		<link rel="stylesheet" href="css/fontawesome-free/all.min.css">
		<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
		<script src="js/jquery-ui/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="/loader.css" />
		<style>
			input {
				border: 0;
				outline: 0;
				background: transparent;
				border-bottom: 2px solid #d4d3d3;
				font-size: 30px;
				/*width: 90% !important;*/
				/*margin: auto;*/
			}
			input #id, #hostname {
				width: 90% !important;
			}
			textarea {
				width: 90% !important;
				white-space: pre;
				word-wrap: normal;
				overflow-wrap: normal;
				overflow-x: auto;
				font-family: Courier, monospace;
				display: none;
			}
			div.ad {
				text-align: center;
			}
			div.options {
				text-align: center;
			}
			body {
				padding-top: 70px;
			}
			div.container {
				width: 100%;
				text-align: center;
			}
			div #loading {
				display: none;
			}
			h1 {
				text-align: center;
			}
		</style>
		<script>
                        var hosted = {{hosted}};
                </script>
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75343349-1"></script>
                <script>
                        if(hosted) {
                                window.dataLayer = window.dataLayer || [];
                                function gtag(){dataLayer.push(arguments);}
                                gtag('js', new Date());

                                gtag('config', 'UA-75343349-1');
                        }
                </script>
		<script>
			var certlist = [];
			var urlhostname = '{{ hostname }}';
			function openSSLRESTAPI(api, data, callback) {
				var request = new XMLHttpRequest();
				request.open('POST', 'api/openssl/' + api, true);
				request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
				
				request.onload = function() {
					if (request.status >= 200 && request.status < 400) {
						// Success!
						var resp = JSON.parse(request.responseText);
						if(resp.error) {
							//console.log(resp);
							callback(resp.error, resp);
						} else {
							callback(false, resp);
						}
						return;
						//var key = document.getElementById('key');
						//key.innerText = resp.command + '\r\n\r\n' + resp.key;
						//var csroptions = getCSRParams();
						//generateCSR(resp.key, csroptions);
					} else {
						// We reached our target server, but it returned an error
						callback(resp, false);
						return;
					}
				};

				request.onerror = function(err) {
					callback(err, false);
					//console.log(err);
					return;
					// There was a connection error of some sort
				};

				request.send(JSON.stringify(data));
			}
			
			/*function OCSPChecker() {
				var loading = document.getElementById('loading');
				var hostname = document.getElementById('hostname');
				var pastex509 = document.getElementById('pastex509');
				var domain;
				var port = 443;
				if(hostname.value.indexOf('/') >= 0) {
					domain = hostname.value.split('/')[2];
				} else {
					domain = hostname.value;
				}
				let splitport = domain.split(":");
				if(splitport.length > 1) {
					domain = splitport[0];
					port = parseInt(splitport[1]);
				}
				var method = getMethod();
				if(method=='download') {
					var data = {
						hostname: domain,
						port: port,
						method: method
					}
				
				} else if(method==='paste') {
					var data = {
						cert: pastex509.value,
						method: method
					}
				} else {
					//should never happen
				}
				googleAnalyticsEvent('Interaction', 'OCSP', 'Query', domain)
				//alert(hostname.value);
				loading.style.display = 'block';
				openSSLRESTAPI('ocspChecker', data, function(error, response) {
					loading.style.display = 'none';
					if(error) {
						//alert(error);
						//console.log(response);
						if(error.indexOf('Error querying OCSP responder') >= 0) {
							//alert('Matched' + error);
							if(attempts <= maxattempts) {
								attempts++;
								OCSPChecker();
							} else {
								alert(error);
							}
						} else if(error.indexOf('erify error:unable to get') >=0 ) {
							attempts = 0;
							//$( "#template" ).dialog("close");
							ocspresponse = response;
							showResponse(response);
						} else {
							alert(error);
						}
					} else {
						attempts = 0;
						//$( "#template" ).dialog("close");
						ocspresponse = response;
						showResponse(response);
						//console.log(response.command);
						//processImportedCert(response.csroptions);
					}
				});

			}*/
			function submitForm() {
				//e.preventDefault();
				startHandshake();
			}
			function startHandshake() {
				var div = document.getElementById('resptable');
				div.innerHTML = '';
				var loading = document.getElementById('loading');
				var hostname = document.getElementById('hostname');
				var domain;
				var port = 443;
				if(hostname.value.indexOf('/') >= 0) {
					domain = hostname.value.split('/')[2];
				} else {
					domain = hostname.value;
				}
				let splitport = domain.split(":");
				if(splitport.length > 1) {
					domain = splitport[0];
					port = parseInt(splitport[1]);
				}
				var data = {
					hostname: domain,
					port: port
				}
				loading.style.display = 'block';
				openSSLRESTAPI('PQCTest', data, function(error, response) {
					loading.style.display = 'none';
					if(error) {
						console.log(error);
						alert(error);
					} else {
						//attempts = 0;
						//$( "#template" ).dialog("close");
						//ocspresponse = response;
						//showResponse(response);
						console.log(response);
						showOutput(response);
						//processImportedCert(response.csroptions);
					}
				});
			}
			function downloadText(text, filename, type) {
				//alert(text);
				googleAnalyticsEvent('Interaction', 'Download', type, '')
				var form = document.getElementById('downloadtext');
				form.action = 'api/openssl/returnDownload';
				form.method = 'POST';
				var datainput = document.getElementById('datainput');
				//console.log(datainput);
				if(datainput){
				
				} else {
					datainput = document.createElement('textarea');
					datainput.id = 'datainput';
				}
				datainput.name = "data"
				datainput.innerHTML = text;
				datainput.style.display = "none";
				var filenameinput = document.getElementById('filenameinput');
				if(filenameinput) {
				
				} else {
					filenameinput = document.createElement('input');
					filenameinput.id = 'filenameinput';
				}
				filenameinput.name = "filename"
				filenameinput.value = filename;
				filenameinput.type = "hidden";
				form.appendChild(datainput);
				form.appendChild(filenameinput);
				form.submit();
				
				form.removeChild(datainput);
				form.removeChild(filenameinput);
			}
			function showOutput(response) {
				certlist = response.response.TLSHandshake.parsedCerts;
				var div = document.getElementById('resptable');

				let port = '';
				if(response.response.port != 443) {
					port = ':' + response.response.port
				}
				if(response.response.TLSHandshake.pqcready) {
					div.innerHTML = '<h3 style="text-align: center;"><span style="color: green;"><i class="fa-solid fa-check"></i>&nbsp;' + response.response.hostname + port  + ' is post-quantum ready!</span></h3><br />';
				} else {
					div.innerHTML = '<h3 style="text-align: center;"><span style="color: red;"><i class="fa-solid fa-xmark"></i>&nbsp;' + response.response.hostname + port  + ' is NOT post-quantum ready!</span></h3><br />';
				}
				var accordion = document.createElement('div');
				accordion.className = 'accordion';
				//var keydiv = document.createElement('div');
				let certificatestitle = document.createElement('h3');
				certificatestitle.innerText = 'Certificates';

				let certificatesbody = document.createElement('div');
				var list = document.createElement('ul');
				certificatesbody.appendChild(list);

				for(let i = 0; i < response.response.TLSHandshake.parsedCerts.length; i++) {
					var item = document.createElement('li');
					let cert = document.createElement('a');
					cert.href = 'javascript: downloadText(certlist['+i+'].cert, \''+response.response.TLSHandshake.parsedCerts[i].name+'.cer\', \'cert\');';
					cert.innerText = response.response.TLSHandshake.parsedCerts[i].name + '.cer';
					item.appendChild(cert);
					certificatesbody.appendChild(item);
				}

				var br = document.createElement('br');
				certificatesbody.appendChild(br);

				let pfcerts = document.createElement('pre');
				pfcerts.style.whiteSpace = 'pre-wrap';
				pfcerts.innerText = response.response.TLSHandshake.data.data.certs.join('\n');
				//certificatesbody.style.whiteSpace = 'pre';
				//certificatesbody.style.fontFamily = 'pre';
				certificatesbody.appendChild(pfcerts);
				accordion.appendChild(certificatestitle);
				accordion.appendChild(certificatesbody);
				div.appendChild(accordion);

				//var keydiv = document.createElement('div');
				let tlshandshaketitle = document.createElement('h3');
				tlshandshaketitle.innerText = 'TLS Handshake';
				let tlshandshakebody = document.createElement('div');
				let pfhs = document.createElement('pre');
				pfhs.style.whiteSpace = 'pre-wrap';
				pfhs.innerText = response.response.TLSHandshake.data.data.trace
				//tlshandshakebody.style.whiteSpace = 'pre';
				//tlshandshakebody.style.fontFamily = 'pre';
				tlshandshakebody.appendChild(pfhs);
				accordion.appendChild(tlshandshaketitle);
				accordion.appendChild(tlshandshakebody);
				div.appendChild(accordion);

				let headers = [];
				let keys = Object.keys(response.response.HTTPResponse.headers);
				for(let i = 0; i < keys.length; i++) {
					headers.push(keys[i] + ': ' + response.response.HTTPResponse.headers[keys[i]]);
				}

				//console.log(headers);

				//var keydiv = document.createElement('div');
				let headerstitle = document.createElement('h3');
				headerstitle.innerText = 'HTML Headers';
				let headersbody = document.createElement('div');
				let pfheaders = document.createElement('pre');
				pfheaders.style.whiteSpace = 'pre-wrap';
				pfheaders.innerText = headers.join('\n');
				//tlshandshakebody.style.whiteSpace = 'pre';
				//tlshandshakebody.style.fontFamily = 'pre';
				headersbody.appendChild(pfheaders);
				accordion.appendChild(headerstitle);
				accordion.appendChild(headersbody);
				div.appendChild(accordion);

				$( accordion ).accordion({
					collapsible: true,
					active: false,
					heightStyle: 'content',
					autoHeight:false
				});
			}
			function googleAnalyticsEvent(category, action, label, value) {
					if(hosted) {
							gtag('event', action, {
									'event_category': category,
									'event_label': label,
									'value': value
							});
					}
			}
		</script>
	</head>
	<body>
		{{{header}}}
		<h1 class="display-1">{{title}}</h1><br />
		<form onsubmit="submitForm(this); return false;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
					
				</div>
				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
					This test will attempt a TLS handshake using the X25519Kyber512Draft00, X25519Kyber768Draft00 and P256Kyber768Draft00 post quantum key agreements to determine whether the server is configured to support post-quantum cryptography.
				</div>
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
					
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
					
				</div>
				<div class="col-lg-5 col-md-5 col-sm-6 col-xs-7">
					<div class="row">
						&nbsp;
					</div>
					<div class="row">
						<input id="hostname" type="text" class="form-control" placeholder="pq.cloudflareresearch.com" />
					</div>
					<div id="loading" class="row">
						<div class="container">
							<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
					<div class="row">
						&nbsp;
					</div>
					<div class="row">
						<input id="submit" class="btn btn-primary btn-md" type="submit" value="Start TLS Handshake"/>
					</div>
					<div class="row">
						&nbsp;
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
					
				</div>
			</div><br />
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
					
				</div>
				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
					<div class="row">
						<div id="resptable"></div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
					
				</div>
			</div>
		</div>
		</form>
		<br />
		<div class="ad">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- CertificateTools.com - OCSP Checker -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-4797561390067055"
			     data-ad-slot="5860436506"
			     data-ad-format="auto"
			     data-full-width-responsive="true"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			<script>
				//addEventListeners();
				//checkMethod();
				window.onload = function() {
					if(urlhostname != '') {
						let hostname = document.getElementById('hostname');
						hostname.value = urlhostname;
						submitForm();
					}
				}
			</script>
		</div>
		<form id="downloadtext"></form>
	</body>
</html>
